@model BrandDetailsVm
@using X.PagedList
@using X.Web.PagedList

<div>
	<h4>Brand Details</h4>
	<hr />
	<dl class="row dt margin-bo">
		<dt class="col-sm-2">
			<label asp-for="BrandName"></label>
		</dt>
		<dd class="col-sm-6">
			<input asp-for="BrandName" class="form-control form-control-sm" readonly />
		</dd>
		<dt class="col-sm-2">
			<label asp-for="ShoesQuantity"></label>
		</dt>
		<dd class="col-sm-2">
			<input asp-for="ShoesQuantity" class="form-control form-control-sm" readonly />
		</dd>
	</dl>
</div>
<div>
	<a class="btn btn-warning btn-sm" asp-controller="Brands" asp-action="UpSert" asp-route-id="@Model.BrandId">
		<i class="bi bi-pencil-square"></i>&nbsp;
		Edit
	</a>
	<a asp-action="Index" class="btn btn-success btn-sm">
		<i class="bi bi-backspace"></i>&nbsp;
		Back to List
	</a>
</div>
<table class="table table-bordered table-hover mt-3">
	<thead>
		<tr>
			<th style="width:35%">Description</th>
			<th style="width:5%">BrandName</th>
			<th style="width:5%">SportName</th>
			<th style="width:5%">GenreName</th>
			<th style="width:5%">ColorName</th>
			<th style="width:15%">Model</th>
			<th style="width:5%">Price</th>
			<th style="width:5%">Active</th>
			<th style="width:20%">Actions</th>

		</tr>
	</thead>
	<tbody>
		@if (Model.ShoesListVm!.Any())
		{
			foreach (var item in Model.ShoesListVm!)
			{
				<tr id="@item.ShoeId">
					<td>
						@item.Description

					</td>
					<td>
						@item.Brand
					</td>
					<td>
						@item.Sport
					</td>
					<td>
						@item.Genre
					</td>
					<td>
						@item.Color
					</td>
					<td>
						@item.Model
					</td>
					<td>
						@item.Price
					</td>
					<td>
						<input type="checkbox" asp-for="@item.Active" disabled />
					</td>
					<td>
						<a class="btn btn-warning" asp-controller="Shoes" asp-action="UpSert" asp-route-id="@item.ShoeId">
							<i class="bi bi-pencil-square"></i>&nbsp;
							Edit
						</a>
						<a onclick="Delete('/Shoes/Delete/@item.ShoeId',@item.ShoeId,'@item.Description')"
						   class="btn btn-danger">
							<i class="bi bi-trash-fill"></i>
							Delete
						</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="6" class="text-center">
					No Hay Shoes

				</td>
			</tr>

		}
	</tbody>
</table>
<div class="d-flex">
@Html.PagedListPager(Model.ShoesListVm, page => Url.Action("Details", 
new { page,
	
	}), new PagedListRenderOptions
{
	UlElementClasses = new[] { "pagination" },
	LiElementClasses = new[] { "page-item" },
	PageClasses = new[] { "page-link" },
	DisplayLinkToIndividualPages = true,
	DisplayPageCountAndCurrentLocation = false,
	MaximumPageNumbersToDisplay = 10
})
</div>

