@model IEnumerable<ShoeListVm>
@using X.PagedList
@using X.Web.PagedList
<table class="table table-bordered table-hover mt-3">
	<thead>
		<tr>
			<th style="width:25%">Description</th>
			<th style="width:5%">BrandName</th>
			<th style="width:5%">SportName</th>
			<th style="width:5%">GenreName</th>
			<th style="width:15%">Model</th>
			<th style="width:5%">Price</th>
			<th style="width:5%">Active</th>
			<th style="width:30%">Actions</th>

		</tr>
	</thead>
	<tbody>
		@if (Model.Any())
		{
			foreach (var item in Model)
			{
				<tr id="@item.ShoeId">
					<td>
						@item.Description

					</td>
					<td>
						@item.Brand
					</td>
					<td>
						@item.Sport
					</td>
					<td>
						@item.Genre
					</td>
					<td>
						@item.Model
					</td>
					<td>
						@item.Price
					</td>
					<td>
						<input type="checkbox" asp-for="@item.Active" disabled />
					</td>
					<td>
						<a class="btn btn-warning" asp-controller="Shoes" asp-action="UpSert" asp-route-id="@item.ShoeId"
						   asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)">
							<i class="bi bi-pencil-square"></i>&nbsp;
							Edit
						</a>
						<a onclick="Delete('/Shoes/Delete/@item.ShoeId',@item.ShoeId,'@item.Description')"
						   class="btn btn-danger">
							<i class="bi bi-trash-fill"></i>
							Delete
						</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="6" class="text-center">
					No Hay Shoes

				</td>
			</tr>

		}
	</tbody>
</table>