@model IPagedList<GenreEditVm>
@using X.PagedList
@using X.Web.PagedList
@{
	ViewData["Title"] = "List Genres";
}

<div class="row mb-3">
	<div class="col-6">
		<h3>Genres List</h3>

	</div>
	<div class="col-6 text-end">
		<a asp-controller="Genres" asp-action="Upsert" class="btn btn-primary">
			<i class="bi bi-plus-circle-fill"></i>
			Nuevo
		</a>
	</div>
</div>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="col-9">Genre Name</th>
			<th class="col-2">Acciones</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Any())
		{
			foreach (var item in Model)
			{
				<tr id="@item.GenreId">
					<td>@item.GenreName</td>
					<td class="text-end">
						<a onclick="Delete('/Genres/Delete/@item.GenreId',@item.GenreId,'@item.GenreName')" class="btn btn-danger ">
							<i class="bi bi-trash-fill"></i>
							Delete
						</a>
						<a asp-controller="Genres" asp-action="Upsert" asp-route-id="@item.GenreId" class="btn btn-warning ">
							<i class="bi bi-pencil-fill"></i>
							Edit
						</a>

					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="2" class="text-center">
					No Hay Genres
				</td>
			</tr>
		}
	</tbody>
</table>
<partial name="Pager" model="@Model" />
@section Scripts {
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	 <script src="~/js/Common.js" ></script>

	</script>
}

